<footer class="bg-gray-500">
	
	<div class="p-10 flex justify-center items-center">
		<img class="w-[90px]" th:src="@{/img/co.png}"  alt="...">&nbsp;
		<div class="bg-white w-[2px] h-[100px] mx-3"></div>
		<img class="w-[150px]" th:src="@{/img/co2.png}"  alt="...">
	</div>	
	<div class="p-3 flex justify-center items-center">
		<a href="https://twitter.com/icfescol?lang=es"><i class="fa-brands fa-square-twitter fa-bounce fa-3x"></i>&nbsp;&nbsp;</a>
		<a href="https://www.facebook.com/icfescol/?ref=br_rs"> <i class="fa-brands fa-square-facebook fa-bounce fa-3x"></i>&nbsp;&nbsp;</a>
		<a href="https://www.instagram.com/icfescol/"><i class="fa-brands fa-square-instagram fa-bounce fa-3x"></i>&nbsp;&nbsp;</a>
		<a href="https://www.youtube.com/channel/UCfKOJWvJ1QXrAp6pCG0pUFw"><i class="fa-brands fa-youtube fa-bounce fa-3x"></i></a>
	</div>
	<p class="text-center text-gray-300 text-lg">Sitio Web Diseñado Por: Diego Fabian Cediel Diaz</p>
	<p class="text-center text-gray-300 text-lg">©Copyright 2021 - Todos los derechos reservados Gobierno de Colombia</p>
	
</footer>
